body{
    background-image: url('../images/money.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.body-content{
    border-style: solid;
    border-width: 0.125em;
    background-color: rgba(255, 255, 255, 0.75);
    margin: auto;
    text-align: center;
    width: 30%;
    padding:5%;
}

#navbar-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#status-selector-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-item{
    float: left;
}

.status-selector-item{
    float: left;
    background-color: black;
}

.nav-link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.status-selector{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.status-selector-active{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    background-color: #4CAF50;
}

.status-selector:hover{
    
    background-color: #4CAF50;
}

.nav-link:hover{
    background-color: #4CAF50;
}

.nav-link-active{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #4CAF50;
}

#nav-logout{
    float:right;
}

#sign-in-div{
    margin:auto;
    text-align:center;
    width: 30%;
    padding:5%;
}

.body-reimbursements{
    border-style: solid;
    border-width: 0.125em;
    background-color: rgba(255, 255, 255, 0.75);
    margin:auto;
    width:40%;
    /*display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;*/
}

.pending-reimbursements-div{
    display:flex;
    flex-direction:column;
}

.resolved-reimbursements-div{
    display:flex;
    flex-direction:column;
}

.reimbursement-div{
    background-color: #4CAF50;
    color:white;
    display:flex;
    flex-direction:column;
    border-style: solid;
    border-width: 0.125em;
    border-color:black;
    padding:5px;
    margin:10px;
}

.reimbursement-item-div{
    display:flex;
    flex-direction:row;
    margin:5px;
    justify-content:space-between;
}


.reimbursement-item-label{
    align-self:flex-start;
    margin:10px;
}

.reimbursement-item-paragraph{
    align-self:flex-end;
    margin:10px;
}

#approve-deny-button-div{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:5px;
    margin:5px;
}

.approve-deny-buttons{
    border: none;
    background-color:black;
    color: #4CAF50;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


